@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);

.main  {
	background: rgba(255, 255, 255, 0.67);
	margin-top: 3em;
	padding: 1.5em 0;
}

#button-links {
	position: absolute;
	bottom: -90px;
	width: 100%;
	text-align:center;
}

header {
	position: relative;
}

* {
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;

}

footer {
	width: 100%;
	text-align:center;
	margin: 1em 0;
}
